@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.date-divider {
  position: relative;
  margin: 20px 0 30px;
  color: $color-icon;
  text-align: center;
  font-size: 15px;
  font-weight: 500;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 72px;
    height: 1px;
    background-color: $color-icon;

    @include desktop {
      width: 509px;
    }
  }

  &::before {
    left: 23px;
  }
  &::after {
    right: 23px;
  }
}
